.createArticle{
    color: #3dbd3d;
    text-decoration: none;
}
.createArticle:visited{

}
.headerAuthorization {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;

    font-size: 20px;
}
.signIn{
    color: grey;
    text-decoration: none;
}
.createArticleBtn{
    padding: 5px;
    border: 1px solid #3dbd3d;
    border-radius: 5px;
}
.userInfo{
    display: flex;
    gap: 5px;
    align-items: center;
}
.userAvatar{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
}
.avatar{
    width: auto;
    height: 50px;
    background-color: grey;
    text-align: center;
    border-radius: 50%;
}
.logOutBtn{
    padding: 5px;
    border: 1px solid #464646;
    border-radius: 5px;
}
.logOut{
    text-decoration: none;
    color:#464646
}
.usernameLink{
    text-decoration: none;
    color: #1890FF;
}