.header {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 80px;
    background: white;
    padding: 10px;
}
.headerLogoLink{
    color: grey;
    text-decoration: none;
    font-size: 20px;
}
.headerLogoLink:visited{
    color: grey;
}
